<nav>
    <ul class="lista_nav d-flex justify-content-center">
        <li><a class="nav_link" href="">Home</a></li>
        <li><a class="nav_link" href="">Contato</a></li>
        <li><a class="nav_link" href="">Sobre nós</a></li>
    </ul>
</nav>
<main>

    <button>+ Adicionar card</button>

    <section>
        
    </section>
    
        
</main>

<!-- 
<button (click)="openModalCreate()">Abrir modal criar</button>
<button (click)="openModalUpdate()">Abrir modal alterar</button>
<button (click)="openModalDelete()">Abrir modal deletar</button> -->

